:root {
  --nav-text-color: rgb(252, 104, 51);
  --bg-container-color: rgba(76, 113, 126, 0.3);
  --default-border-size: 0.5rem;
  --hover-color: rgb(115, 157, 172);
  --text-color: #fff;
  --input-bg-color: rgb(106, 146, 161);
  --card-selected-color: rgb(250, 156, 122, 0.5);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("/assets/bg.jpg");
}

#app {
  margin: 0rem 15rem;
  flex: 1;
}

#main {
  display: flex;
  gap: 2rem;
}

/* Nav styling */
#header {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  margin-bottom: 2rem;
  background-image: url("/assets/bg.jpg");
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  height: 60px;
  background-color: var(--bg-container-color);
}

.navbar-brand {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  margin-left: auto;
}

.navbar-link {
  color: var(--text-color);
  margin-left: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  transition: 0.7 ease-in;
}

.navbar-link:hover {
  color: var(--nav-text-color);
}

.container {
  padding: 1rem;
}

/* Card styling */
#card-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0;
  color: var(--text-color);
}
.card {
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 40rem;
  background-color: var(--bg-container-color);
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  border-radius: var(--default-border-size);
  height: auto;
  font-size: 1.2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-heading {
  font-size: 1.8rem;
  color: rgb(76, 113, 126);
  margin-bottom: 1rem;
}

.card-body p {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.hazardous {
  background-color:none;
  border-radius: var(--default-border-size);
}
.card:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.card:active {
  transform: scale(1);
}

.selected {
  background-color: var(--card-selected-color);
}
.selected .card-heading {
  color: var(--text-color);
}

#date-container {
  display: flex;
  background-color: var(--bg-container-color);
  border-radius: var(--default-border-size);
  justify-content: space-between;
  margin: 1rem;
  gap: 1rem;
}
#img-container {
  display: flex;
  margin: 3rem 0rem;
  flex-wrap: wrap;
}
#img-container h1 {
  color: var(--text-color);
  margin: 1rem 0rem;
  font-size: 1.5rem;
}
#img-container p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 1rem 0rem;
}
img {
  flex: 1;
}

#date {
  flex-grow: 1;
}
#selector {
  flex-grow: 1;
  border-radius: var(--default-border-size);
  color: var(--text-color);
}
#btn-container {
  display: flex;
  width: 58%;
  justify-content: space-between;
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  margin-top: 0rem;
}

.btn {
  background-color: var(--bg-container-color);
  border-color: var(--bg-container-color);
  color: #fff;
  padding: 1rem 1rem;
  cursor: pointer;
  border-radius: var(--default-border-size);
}
.btn:hover {
  background-color: var(--hover-color);
}

/* Date and text inputs styling */
.input-element {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid rgba(76, 113, 126, 0.7);
  border-radius: var(--default-border-size);
  width: 60%;
}

.input-element:focus {
  outline: none;
  border-color: rgba(76, 113, 126, 1);
}

.search-icon {
  font-size: 1.2rem;
  color: rgba(76, 113, 126, 0.7);
  cursor: pointer;
}

.search-input:focus {
  outline: none;
  border-color: rgba(76, 113, 126, 1);
}

.search-icon:hover {
  color: rgba(76, 113, 126, 1);
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto;
  padding: 1rem;
  max-width: 40rem;
  background-color: var(--bg-container-color);
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  width: 90%;
}

.input-element {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid rgba(76, 113, 126, 0.7);
  border-radius: var(--default-border-size);
  width: 60%;
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0.2);
}
.input-element::placeholder {
  color: var(--text-color);
}
.input-element:focus {
  outline: none;
  border-color: rgba(76, 113, 126, 1);
}

select.input-element {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 12px;
  padding-right: 2rem;
}

option {
  padding: 0.5rem;
  background-color: #fff;
  color: rgba(76, 113, 126, 0.7);
  border: none;
}

option:hover {
  background-color: rgba(76, 113, 126, 0.1);
}
/* Error handling style */
.error-heading {
  font-size: 2rem;
}

/* Sections */
#vis-section {
  margin-bottom: 1rem;
  background-color: var(--bg-container-color);
}

/* Welcome info container */
.welcome-container p {
  color: var(--text-color);
}
.welcome-container {
  text-align: center;
  margin: 2rem auto;
  padding: 2rem;
  max-width: 40rem;
  background-color: var(--bg-container-color);
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.welcome-heading {
  font-size: 2rem;
  color: rgb(76, 113, 126);
  margin-bottom: 1rem;
}

.welcome-text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
}

/* Detailed NEO Info card */
#info-container p {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

#info-container a {
  background-color: var(--primary-color);
  padding: 0.5rem 0.75rem;
  color: var(--text-color);
}
.neo-info-card {
  padding: 1rem;
  max-height: 40rem;
  background-color: var(--card-selected-color);
  border-radius: var(--default-border-size);
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1rem;
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.neo-info-card h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.neo-info {
  font-size: 1.1rem;
}

.neo-info p {
  margin: 0.5rem 0;
}

.neo-info strong {
  font-weight: bold;
}

.orbital-data {
  margin-top: 2rem;
  background-color: rgba(15, 64, 82, 0.3);
  padding: 1rem;
  border-radius: 0.8rem;
}

.orbital-data h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.view-more {
  background-color: rgba(23, 87, 110, 0.7);
  text-decoration: none;
  font-weight: bold;
  margin-top: 1rem;
  display: inline-block;
}

.view-more:hover {
  text-decoration: underline;
}
/* Footer */
#footer {
  background-color: var(--bg-container-color);
  height: 4rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 0rem;
}

/* Image of the day style */
.description-container {
  padding: 1rem;
  background-color: var(--bg-container-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.image-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--text-color);
  text-align: center;
}

.image-explanation {
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-color);
  text-align: justify;
}

.image-wrapper {
  width: 100%;

  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-of-the-day {
  width: 100%;
  height: auto;
  display: block;
}

.copyright-text {
  font-size: 0.9rem;
  color: var(--text-muted-color);
  text-align: right;
  margin: 1rem 0;
}

.navbar-menu-button {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
@media (max-width: 768px) {
  .navbar-menu-button {
    display: block;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    height: auto;
    margin-bottom: 0.5rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .navbar-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 0;
    overflow: hidden;
  }

  .navbar-link {
    font-size: 0.9rem;
    margin-left: 0;
  }

  #app {
    margin: 0rem 5rem;
    flex: 1;
  }
}

/* Mobile view (480px and below) */
@media (max-width: 480px) {
  .navbar {
    padding: 0.5rem;
  }

  .navbar-brand {
    font-size: 1rem;
  }

  .navbar-link {
    font-size: 0.8rem;
  }
  #app {
    margin: 0rem 2rem;
    flex: 1;
  }
}

@media (max-width: 575.98px) {
  #app {
    margin: 0rem 0rem;
    flex: 1;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #app {
    margin: 0rem 0rem;
    flex: 1;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #app {
    margin: 0rem 1rem;
    flex: 1;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #app {
    margin: 0rem 6rem;
    flex: 1;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  #app {
    margin: 0rem 10rem;
    flex: 1;
  }
}

@media (min-width: 1400px) {
  #app {
    margin: 0rem 15rem;
    flex: 1;
  }
}
