@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap");
:root {
  --nav-hover-color: rgba(142, 196, 71, 0.8);
  --bg-color: rgba(76, 113, 126, 0.3);
  --default-border-size: 0.5rem;
  --border-color: rgba(76, 113, 126, 0.4);
  --bg-hover-color: rgba(76, 113, 126, 0.4);
  --brand-hover-color: rgba(194, 199, 122, 0.9);
  --text-color: #fff;
  --input-bg-color: rgb(106, 146, 161);
  --card-selected-color: rgba(194, 250, 122, 0.5);
  --heading-text-color: rgb(95, 134, 148);
  --heading-text-color: rgba(142, 196, 71, 1);
  --error-text-color: rgb(228, 100, 100);
  --default-font-weight: 800;
  --default-letter-spacing: 1.5;
  --default-line-height: 1.5;
  --accent-color: rgb(129, 185, 55);
  --danger-color: rgb(173, 48, 48);
  --bg-alt-color: #000;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./bg.jpg");
  display: flex;
  flex-direction: column;
}

#app {
  margin: 0rem 10rem;
  flex: 1;
  transition: all 0.3s ease;
}

#neo-section {
  width: 100%;
}

/* Tha main container of asteroids */
.neo-main-parent-container {
  margin-top: 0rem;
  display: grid;
  width: 100%;
  grid-template-columns: 1.75fr 1.25fr;
  gap: 2rem;
  transition: all 0.3s ease;
}
/* This is the styling for general info when a user selects date range */
.neos-info {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--text-color);
  padding: 1rem;
  border-radius: var(--default-border-size);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  line-height: 1.6;
  width: 100%;
}

.neos-info strong {
  color: var(--accent-color);
  font-size: 1.5rem;
}

.count {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--danger-color);
}

.neo-general-info {
  grid-column: 1 / -1;
  color: var(--text-color);
  font-size: 1.2rem;
  padding: 0.5rem;
  letter-spacing: var(--default-letter-spacing);
  text-align: center;
  background-color: var(--bg-color);
  border-radius: var(--default-border-size);
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}

/* Grid of cards styling for the asteroids */
#card-container {
  /* grid-column: 1 / 2; */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  color: var(--text-color);
  transition: all 0.3s ease;
}
.card {
  text-align: center;
  padding: .5rem;
  min-width: 15rem;
  background-color: var(--bg-color);
  border-radius: var(--default-border-size);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1;
  max-height: 15rem;
}

.card-heading {
  font-size: 1.4rem;
  color: var(--heading-text-color);
  margin-bottom: .5rem;
}

.card-body p {
  font-size: 1rem;
  color: var(--text-color);
}

.hazardous {
  background-color: none;
  border-radius: var(--default-border-size);
}
.card:hover {
  cursor: pointer;
  transform: scale(1.03);
  background-color: var(--bg-hover-color);
}
.card:active {
  transform: scale(1);
}
.hazardous-asteroid {
  background-color: rgb(206, 107, 107, 0.4);
}
.hazardous-asteroid .card-heading {
  color: var(--text-color);
}
.selected:not(.hazardous-asteroid) {
  background-color: var(--card-selected-color);
}
.selected .card-heading {
  color: var(--text-color);
}

/* The style for the detailed info of each asteroid */
#info-container {
  grid-column: 2 / 3;
}
/* Detailed NEO Info card */
.neo-info-card {
  padding: 1rem;
  max-height: 80rem;

  background-color: var(--card-selected-color);
  border-radius: var(--default-border-size);
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 1rem;
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.neo-info-card.show {
  display: block;
  opacity: 1;
}
.neo-info-card h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.neo-info {
  font-size: 1.1rem;
}

.neo-info p {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

.neo-info strong {
  font-weight: bold;
}
.neo-general-info strong {
  font-weight: bold;
}

.orbital-data {
  margin-top: 2rem;
  background-color: rgba(15, 64, 82, 0.3);
  padding: 1rem;
  border-radius: 0.8rem;
}

.orbital-data h3 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.view-more {
  background-color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  color: var(--text-color);
  font-weight: bold;
  margin-top: 1rem;
  display: inline-block;
  border-radius: var(--default-border-size);
}

.view-more:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Nav styling */
#header {
  position: sticky;
  top: 0;
  height: 4rem;
  width: 100%;
  margin-bottom: 4rem;
  background-color: var(--bg-alt-color);
}

.navbar-links.show-links {
  display: flex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10rem;
  height: 4rem;
  background-color: var(--bg-alt-color);
}

.navbar-brand {
  color: var(--heading-text-color);
  letter-spacing: var(--default-letter-spacing);
  font-weight: var(--default-font-weight);
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  margin-left: auto;
}

.navbar-link:not(view-more) {
  color: var(--text-color);
  margin-left: 1rem;
  font-weight: var(--default-font-weight);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: var(--default-letter-spacing);
  transition: 0.7 ease-in;
}

.navbar-link:hover {
  color: var(--nav-hover-color);
}

#date {
  flex-grow: 1;
}

#selector {
  flex-grow: 1;
  border-radius: var(--default-border-size);
  color: var(--text-color);
}

/* Button styling */
#btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.btn {
  background-color: var(--bg-color);
  border-color: var(--bg-color);
  color: var(--heading-text-color);
  letter-spacing: var(--default-letter-spacing);
  padding: 1rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.1rem;
  border-radius: var(--default-border-size);
}
.btn:hover {
  background-color: var(--bg-hover-color);
}
#top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2.5rem;
  z-index: 99;
  cursor: pointer;
  background-color: var(--bg-color);
  font-size: 1em;
  color: var(--heading-text-color);
}

#top:hover {
  background-color: var(--bg-hover-color);
}

.navbar-menu-button {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.btn.disabled {
  cursor: not-allowed;
}

/* Date and text inputs styling */
.input-element {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid rgba(76, 113, 126, 0.7);
  border-radius: var(--default-border-size);
  width: 100%;
}

.input-element:focus {
  outline: none;
  border-color: rgba(76, 113, 126, 1);
}

.intro-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
  gap: 1rem;
  margin: 4rem auto;
  margin-top: 6rem;
  transition: all 0.3s ease;
  background-color: var(--bg-color);
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  width: 70%;
}

.input-element {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid rgba(76, 113, 126, 0.7);
  border-radius: var(--default-border-size);
  width: 60%;
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0.2);
}
.input-element::placeholder {
  color: var(--text-color);
}
.input-element:focus {
  outline: none;
  border-color: rgba(76, 113, 126, 1);
}

option {
  padding: 0.5rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  border-radius: var(--default-border-size);
}

option:hover {
  background-color: var(--card-selected-color);
}

.input-element:hover {
  background-color: var(--bg-hover-color);
}

/* Welcome info container */
.welcome-container p {
  color: var(--text-color);
}
.welcome-heading {
  font-size: 2rem;
  color: var(--heading-text-color);
  margin-top: 1rem;
}
/* Image Styling  */
.date-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--bg-color);
  border-radius: var(--default-border-size);
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem;
  gap: 1rem;
  transition: all 0.3s ease;
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

.date-container .input-element {
  width: 100%;
}

#search-input {
  grid-column: span 3;
}
#img-container {
  display: flex;
  margin: 3rem 0rem;
  flex-wrap: wrap;
}

#img-container p {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 1rem 0rem;
}

img {
  flex: 1;
}

#image-container {
  position: relative;
  overflow: hidden;
}

/* Image of the day style */
.description-container {
  padding: 1rem;
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.image-heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--heading-text-color);
  text-align: center;
}

.image-explanation {
  font-size: 1rem;
  line-height: var(--default-line-height);
  color: var(--text-color);
  text-align: justify;
}

.image-wrapper {
  width: 100%;

  margin: 0 auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-of-the-day {
  width: 100%;
  height: auto;
  display: block;
}
.video-wrapper{
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; 
  margin: auto; 
}

.video-wrapper iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

/* Loader style */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 50px;
}

.spinner {
  width: 2rem;
  height: 2rem;
  border: 4px solid #ddd;
  border-top: 4px solid var(--bg-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Tooltip styling */
.tip {
  position: relative;
  display: inline-block;
}

.tip-info {
  visibility: hidden;
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: var(--default-border-size);
  padding: 0.5rem;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
}

.tip:hover .tip-info {
  visibility: visible;
}
/* Error handling style */
.error-heading {
  font-size: 1.5rem;
  color: var(--error-text-color);
}

.no-results-message {
  text-align: center;
  font-size: 1.5rem;
  padding: 2rem;
  border-radius: var(--default-border-size);
  background-color: rgba(255, 77, 77, 0.1);
}

/* Footer */
footer {
  background-color: var(--bg-color);
  height: 4rem;
  color: var(--heading-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  margin-bottom: 0rem;
  letter-spacing: var(--default-letter-spacing);
}

/* Media Queries */
@media (min-width: 330px) and (max-width: 1200px) {
  .navbar-menu-button {
    display: block;
  }
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: var(--bg-alt-color);
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: var(--default-border-size);
    transition: all 0.3s ease-in-out;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    height: auto;
    margin-bottom: 0.5rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .navbar-link {
    font-size: 0.9rem;
    margin-left: 0;
  }
  #info-container {
    width: 100%;
  }
  #search-input {
    width: 90%;
  }
}

@media (min-width: 300px) and (max-width: 772px) {
  #app {
    margin: 0rem 1rem;
  }

  .date-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  .date-container > input {
    width: 100%;
  }
  .date-container > select {
    width: 100%;
  }

  #search-input {
    width: 100%;
  }
  #info-container {
    width: 100%;
  }
  .intro-container {
    margin: 0rem auto;
    margin-bottom: 1rem;
    width: 100%;
  }
  .neo-main-parent-container {
    grid-template-columns: 1fr;
  }

  #info-container {
    grid-column: 1 / -1;
  }
  .card-container {
    grid-column: 1 / -1;
  }
}

@media (min-width: 772px) and (max-width: 1199.98px) {
  #app {
    margin: 0rem 4rem;
  }
  #info-container {
    width: 100%;
  }
  #search-input {
    width: 100%;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  #app {
    margin: 0rem 12rem;
  }
}

@media (min-width: 1400px) {
  #app {
    margin: 0rem 12rem;
  }
}
